
@{
    ViewBag.Title = "UserQueryForm";
}

<h2>UserQueryForm</h2>

 @using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>User Query Form</h4>
    </div>
    <body>
        <form action="#" method="post">
            <div>
                <label for="query">Query: </label>
                <input type="text" id="query" name="queryDescription" required />
            </div>
            <div>
                <button type="submit">Submit query</button>
            </div>
        </form>
    </body>
}