
@{
    ViewBag.Title = "UserCommentForm";
}

<h2>User Comment Form</h2>

@using (Html.BeginForm())
{
    <body>
        <form action="#" method="post">
            <div>
                <label for="comment">Comment: </label>
                <input type="text" id="comment" name="commentDescription" required />
            </div>
            <div>
                <button type="submit">Submit comment</button>
            </div>
        </form>
    </body>
}
