@model List<CartItem>
@{
    ViewBag.Title = "Product List Window View";
}

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>Product list</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            border: 2px solid #808080 text-align: left;
        }

        th {
            background-color: #b200ff
        }

        .button {
            display: inline-block;
            padding: 10px 30px;
            margin: 10px;
            text-align: center;
            border: 2px solid #007a33;
            color: #007a33;
            border-radius: 4px;
            transition: background-color 0.3s, color 0.3s;
        }

        .button-hover {
            background-color: #007a33;
            color: #fff;
        }
    </style>
</head>

<body>
    <h2>Cart</h2>
    @if (Model.Count > 0)
    {
        <table>
            <tr>
                <th>Product name</th>
                <th>Brand</th>
                <th>Quantity</th>
            </tr>
            <tr>
                @foreach (var item in Model)
                {
                    <td>@item.p.productName</td>
                    <td>@item.p.Brand.brandName</td>
                    <td>@item.quantity</td>
                }
            </tr>

        </table>
    }
    else
    {
        <p>Your cart is empty :(</p>
    }
</body>

</html>