
@model Group2_iCLOTHINGApp.Models.Brand

<h2>@Model.brandName Details</h2>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
</head>
<body>
    <h1>@Model.brandName</h1>
    <h2>@Model.drandDescription</h2>
    <h2>@Model.brandId</h2>
</body>
</html>
