
@model Group2_iCLOTHINGApp.Models.Department

<h2>@Model.departmentID Details</h2>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
</head>
<body>
    <h1>@Model.departmentName</h1>
    <h2>@Model.departmentDescription</h2>
    <h2>@Model.departmentID</h2>
</body>
</html>
